.sticky-top {
	top: 61px;
}
.table caption {
	caption-side: top;
}


.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.nav-tabs {
	border-bottom: none
}

.nav-tabs .nav-link.active {
	z-index: 4;
	border-bottom: 0px solid transparent;
	border-radius: 6px 6px 0px 0px;
	box-shadow: 5px 0px 7px 0px #ccc;
	font-weight: bold;
	color: black;
}
.nav-link {
	color: lightslategrey;
	font-weight: bold;
}
.nav-tabs .nav-item {
	margin-bottom: -1px;
}

.tab-content> .active {
	z-index: 3;
	box-shadow: 5px 5px 7px 0px #ccc;
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	padding: 10px 5px 10px 5px;
}

.current-row {
    color: red;
}
.row-top {
	padding-top: 62px;
}
.tx-note {
	color: red;
	font-style: italic;
	font-weight: 100;
	font-size: large;
}
.tx-info {
	font-weight: 200;
	font-size: large;
}

body {
    margin-top: 67px;
    overflow-y: scroll;
}



.table {
	overflow-y: scroll;
}

table.table thead th{
    color: #fff;
    background-color: #343a40;    
    z-index: 1;
    font-size: 1rem
}
